<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.cmpt276.prj">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".utils.CountdownUtils"></activity>
        <activity android:name=".ui.CountDownProgress" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.ChooseNextFlipActivity" />
        <activity
            android:name=".ui.EditChildPortraitActivity"
            android:parentActivityName=".ui.ManageChildrenActivity" />
        <activity
            android:name=".ui.DeleteTaskActivity"
            android:parentActivityName=".ui.WhoseTurnActivity" />
        <activity
            android:name=".ui.EditTaskActivity"
            android:parentActivityName=".ui.WhoseTurnActivity" />
        <activity
            android:name=".ui.SelectEditTaskActivity"
            android:parentActivityName=".ui.WhoseTurnActivity" />
        <activity
            android:name=".ui.WhoseTurnActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.AddTaskActivity"
            android:parentActivityName=".ui.WhoseTurnActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AddChildActivity"
            android:parentActivityName=".ui.ManageChildrenActivity" />
        <activity
            android:name=".ui.TimeoutActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ManageChildrenActivity"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CoinFlipActivity"
            android:label="Flip a Coin" />
        <activity
            android:name=".ui.FlipHistoryActivity"
            android:label="History" />
    </application>

</manifest>